<!DOCTYPE html>
<html>

<head>
	<title>Chatbot</title>
	<link rel="icon" href="../static/ChatBot/chatbot_bot.jpeg" />
	<link rel="stylesheet" href="../static/ChatBot/chatbot_style.css" />
</head>

<body>
	<div id="container" class="container">
		<div id="chat" class="chat">
			<div id="messages" class="messages"> 
				<label for="enc" id="privacyMessage">
					We respect your privacy. This chat is encrypted and will not be shared with anyone without your permission
				</label>
			</div>
			<input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
		</div>
	</div>
</body>
<script type="text/javascript" src="../static/ChatBot/chatbot_index.js" ></script>
<script type="text/javascript" src="../static/ChatBot/chatbot_constants.js" ></script>
<script type="text/javascript" src="../static/ChatBot/chatbot_speech.js" ></script>
<script type="text/javascript" src = "../static/ChatBot/chatbot_bot.jpeg"></script>

</html>